# Dependencias (carpetas muy pesadas que npm instala)
/node_modules
/.pnp
.pnp.js

# Archivos de compilación de Next.js
/.next/
/out/

# Variables de entorno secretas (¡MUY IMPORTANTE!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema operativo y editores
.DS_Store
*.pem
.vscode/
.idea/

#word
*.docx
*.tmp
~$*.docx